<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">{{ PLATFORM_NAME }} The Magma is a learning platform that is student-centered learning, where the instructor/lecturer
focuses on the individual learner and each of his or her needs, instead of the curriculum as a whole, and 
where the teaching shifts from a focus on the teacher to that of the student. It pushes the boundaries 
of what’s possible in learning technology.
.</%block>
        </p>
    </section>
</main>
